@{
    ViewBag.webAdress = "www.maximethifagne.fr";
    ViewBag.Title = "Mention légales";
}

<div class="main-content">
    <h1>MENTION L&Eacute;GALES</h1>
    <h2><strong>1.</strong> Présentation du site web</h2>
    <p>
        Conformément à la loi n° 2004-2005 du 21 juin 2004 pour la confiance dans l’économie numérique,
        le site web @ViewBag.webAdress met à disposition du public les informations concernant son entreprise
    </p>
    <p>
        Eventuellement modifiables, nous vous invitons donc à consulter les mentions légales le plus
        souvent possible, de manière à en prendre connaissance fréquemment.
    </p>
    <p>
        Le site @ViewBag.webAdress appartient à Mr Thifagne Maxime – autoentrepreneur, dont le siège
        social est situé à l’adresse suivante : 41 Rue Rudyard Kipling, 73100 AIX LES BAINS, FRANCE, et dont le siret est 88038525700014.
    </p>
    <p>
        Maxime Thifagne est responsable de la publication et de l’administration du site, l’adresse e-mail
        est la suivante : freelance@adriendemeyer.com
    </p>
    <p>
        Le site @ViewBag.webAdress est hébergé par IONOS , dont le siège social est localisé à l’adresse
        suivante : IONOS – Siège social : 7 Place de la Gare, 57200 Sarreguemines www.ionos.fr
    </p>
    <h2><strong>2.</strong> Conditions générales d’utilisation du site et des services proposés.</h2>
    <p>
        En utilisant le site web @ViewBag.webAdress, vous acceptez pleinement et entièrement les conditions
        générales d’utilisation précisées dans nos mentions légales. Accessible à tout type de visiteurs,
        il est important de préciser toutefois qu’une interruption pour maintenance du site web peut-être décidée par Maxime Thifagne.
    </p>
    <h2><strong>3.</strong> Les services proposés par @ViewBag.webadress</h2>
    <p>
        En accord avec sa politique de communication, le site @ViewBag.webAdress a pour vocation d’informer
        les utilisateurs sur les services proposés par Maxime Thifagne, qui s’efforce alors de fournir des informations
        précises sur son activité. Cependant, des inexactitudes ou des omissions peuvent exister : la société ne pourra
        en aucun cas être tenue pour responsable pour toute erreur présente sur le site @ViewBag.webAdress.
    </p>
    <h2><strong>4.</strong> Limitations contractuelles</h2>
    <p>
        Les informations retranscrites sur notre site web @ViewBag.webAdress font l’objet de démarches qualitatives,
        en vue de nous assurer de leur fiabilité. Cependant, nous ne pourrons encourir de responsabilités en cas
        d’inexactitudes techniques lors de nos explications.
    </p>
    <p>
        Si vous constatez une erreur concernant des informations que nous auront pu omettre, n’hésitez pas à nous le
        signaler par mail à Contact du responsable de publication.
    </p>
    <h2><strong>5.</strong> Propriété intellectuelle et contenu du site Internet</h2>
    <p>
        Le contenu rédactionnel du site web @ViewBag.webAdress appartient exclusivement à Maxime Thifagne.
        En naviguant sur le site @ViewBag.webAdress, l’utilisateur accepte également l’installation de cookies éventuelle sur son ordinateur
    </p>
    <h2><strong>6.</strong> Données personnelles, respect de votre vie privée et de vos libertés</h2>
    <p>
        Ce site n’a pas fait l’objet d’une déclaration à la CNIL en application de la dispense n7:
        Délibération n2006-138 du 9 mai 2006 décidant de la dispense de déclaration des traitements constitués à des fins
        d’information ou de communication externe. Néanmoins il répond aux exigences de la loi informatique et libertés
        en matière de données personnelles. Ainsi, Les informations recueillies sur ce site sont à destination unique
        de Maxime Thifagne. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des
        données vous concernant (loi « Informatique et Libertés » du 6 janvier 1978). Pour toute demande, adressez-vous
        à Maxime Thifagne. Ces données sont celles que vous aurez volontairement enregistrées lors de vos demandes de contact
        . Aucune information personnelle vous concernant n’est cédée à des tiers ou utilisée à des fins non prévues.
    </p>
    <h2><strong>7.</strong> Droit applicable et lois concernées</h2>
    <p>
        Soumis au droit français, le site @ViewBag.webAdress est encadré par la loi n° 2004-2005 du 21 juin 2004 pour
        la confiance dans l’économie numérique, l’article L.335-2 du Code de la Propriété Intellectuelle et la loi « informatique
        et libertés » du 6 janvier 1978 modifiée en 2004.
    </p>
</div>

